h1{
	text-align: center;
}
h3{
	color: green;
}

h6{
	font-size: 16px;
}
p{
	font-size: 14px;
	text-align: center;
}

p{
	color: red;
}

li{
	border: 3px solid #ccc;
}

a:hover{
	cursor: progress;
}
.contenido{
margin-left= 20%;	
}
